.about{
    background-color:orange;
    width:98.93vw;
    height:90vh; 
}
.about1{
    text-align:center; 
    
 
}
.about_content{
    display:flex;
    margin-top:20vh;
    margin-left:2vw;
    text-align: center;
    align-items: center;
    width:50vw;


}
